<!-- The form is rendered with the current values of the query. The form is submitted to the update
route, which updates the query in the database. -->
{% extends 'base.html' %}

{% block body %}
<div class="container">
<h2>Update the todo</h2>
<form method='POST' action='/update/{{queries.id}}/'>
	<div class="mb-3">
	  <label for="update_title" class="form-label" >update_title</label>
	  <input type="text" class="form-control" name='title' id="update_title" value={{queries.title}}>
	</div>
	<div class="mb-3">
	  <label for="update_description"  class="form-label">update_description</label>
	  <input type="text" class="form-control" name='description' value={{queries.description}} id="update_description">
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endblock body %}